{% extends 'base.html.twig' %}
{% block body %}
	<br>

	<div class="slideshow-container">

		<div class="mySlides fade">
			<div class="numbertext">1 / 3</div>
			<img src="image/LOGO1.jpg" style="width:100%">
			<div class="text"></div>
		</div>

		<div class="mySlides fade">
			<div class="numbertext">2 / 3</div>
			<img src="image/LOGO2.jpg" style="width:100%">
			<div class="text"></div>
		</div>

		<div class="mySlides fade">
			<div class="numbertext">3 / 3</div>
			<img src="image/LOGO3.JPG" style="width:100%">
			<div class="text"></div>
		</div>

	</div>
	<br>

	<div style="text-align:center">
		<span class="dot"></span>
		<span class="dot"></span>
		<span class="dot"></span>
	</div>

	<script>
		let slideIndex = 0;
showSlides();

function showSlides() {
let i;
let slides = document.getElementsByClassName("mySlides");
let dots = document.getElementsByClassName("dot");
for (i = 0; i < slides.length; i++) {
slides[i].style.display = "none";
}
slideIndex++;
if (slideIndex > slides.length) {
slideIndex = 1
}
for (i = 0; i < dots.length; i++) {
dots[i].className = dots[i].className.replace(" active", "");
}
slides[slideIndex - 1].style.display = "block";
dots[slideIndex - 1].className += " active";
setTimeout(showSlides, 2000); // Change image every 2 seconds
}
	</script>
	
	<div class="row">
		{% for p in product %}
			<div class="col-2th">
				<div class="card">
					<div class="card1">
						<img src='{{path('get_image', { filename: p.Pro_Image }) }}' width="260" height="260" alt="">
					</div>
					<div class="card2">
						<h4>
								{{p.Pro_Name}}
							
						</h4>
					</div>
					<div class="card2">
						<h5>
							{{p.Price}}VND
						</h5>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
